.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}


.published {
    margin-top: 0px;
    display: flex;
    margin-left: 30px;
}
.section h1{
margin-top: 50px;
font-family: sans-serif;
width: 100vw;
margin-left: 45px;
}

.review {
    border-left: 10px #707D84 solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0px;
    width: 40vw;
    margin-left: 30px;
}
.rcontainer {
    scroll-snap-type: y mandatory;
    -ms-scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.white {
    background-color: white;
    height: 33vh;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.red {
    background-image: linear-gradient(#a50101, #7c0101);
    height: 33vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.stars {
    width: 200px;
    height: 80px;
    align-self:flex-start;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-left: 50px;
}

.rinfo{
    width: 50vw;
    height: 50vh;
    background-color: #707D84;
    align-self: flex-end;
}