.reviewsContainer {
  width: 100vw;
  height: 3000px;
}
.acontainer {
  width: 100vw;
  height: auto;
  display: flex;
  margin: 0px;
}
.rcontainer {
  width: 30vw;
  justify-self: flex-end;
  display: flex;
  background-color: #ffff;
  margin-top: 100px;
}

.revb {
  width: 445px;
  height: min-content;
  display: flex;
  padding-left: 5px;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.revb2 {
  width: 445px;
  height: min-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: rgb(223, 223, 223);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.revc {
  margin-top: 0px;
  z-index: 22;
  margin-left: 10%;
}

.pics {
  margin-left: 5px;
  margin-top: 5px;
}

.rimage {
  width: 100px;
  height: auto;
}

#pfp {
  width: 50px;
  height: 50px;
}

.revb p {
  margin: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}

/*photos and info container and content  */

.icontainer {
  background-color: #ffff;
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("./cover.png");
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
}

.sixbox {
  width: 50vw;
  height: auto;
  align-self: flex-start;
  margin-top: 125px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
    "p1 i1"
    "i2 p2"
    "p3 i3";
}

.sixbox span {
  font-size: 18px;
}

.reviewp {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.reviewp span {
  margin: 20px;
}

.reviewp h3 {
  color: #15908e;
  font-size: 45px;
  margin: 20px 0px 0px 0px;
}

.galleryHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.galleryHeader h1 {
  margin-top: 100px;
  width: fit-content;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.galCard {
  display: flex;
  align-self: center;
  width: fit-content;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  flex-direction: column;
}

.galCard span {
  font-size: 20px;
  width: fit-content;
  align-self: center;
}

.galCard h3 {
  margin: 0;
  align-self: center;
  width: fit-content;
}
.galPhotos img {
  margin: 5px;
  height: 300px;
  width: auto;
}
@media only screen and (max-width: 2300px) {
  .sixbox {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

@media only screen and (max-width: 1300px) {
  .acontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    width: 100vw;
    justify-self: center;
  }
  .covers {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .rcontainer {
    height: min-content;
    justify-self: center;
    width: 100vw;
  }
  .revc {
    margin: auto;
  }
  .cover {
    justify-self: center;
  }

  .icontainer {
    width: 100vw;
  }

  .sixbox {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .galPhotos {
    display: flex;
    flex-direction: column;
  }

  .galPhotos img {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (max-width: 1100px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  .cover {
    width: 400px;
    height: auto;
  }

  .cover h4 {
    font-size: 20px !important;
  }

  .cover h1 {
    font-size: 40px !important;
  }

  .cover p {
    font-size: 15px !important;
    margin-top: 5px;
    width: 400px !important;
  }
  .sixbox h3 {
    font-size: 30px;
  }

  .sixbox {
    width: 100vw;
  }

  .sixbox span {
    font-size: 15px;
    width: 90vw;
  }

  .reviewp h3,
  span {
    text-align: center !important;
    width: 100vw;
  }

  .rcontainer span {
    text-align: left !important;
  }
}
