.app {
  text-align: center;
  background-color: #ffff;
  width: 100vw;
  height: auto;
}
.logo {
  width: 75px;
  height: 72.14px;
  margin: auto 0 auto 0;
}

.menu {
  height: auto;
  width: 100%;
}
.topnav {
  background-color: #ffff;
  width: 40vw;
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
  height: 75px;
}
.navContainer {
  display: flex;
  position: fixed;
  background-color: #FFFF;
  width: 100vw;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 1px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 1px 0px;
  justify-content: space-between;
  z-index: 9999;
}

.topnav span {
  font-size: 30px;
}

.topnav a {
  display: inline-block;
  position: relative;
  color: #252525;
  font-size: 24px;
  height: fit-content;
  text-decoration: none;
  margin: auto 30px auto 0;
}

.topnav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #15908e;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.topnav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.topnav a.active {
  background-color: #ffff;
  color: #057272;
}

.mobileNav {
  display: none;
}

@media only screen and (max-width: 1400px) {
  .mobileC {
    display: flex;
    width: 100vw;
    height: 75px;
    flex-direction: column;
  }

  .navContainer {
    display: none;
  }
  .mobileNav {
    display: flex;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 1px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 1px 0px;
    justify-content: space-between;
  }

  .mobileLinks {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #ffff, #0d5c5a);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    z-index: 8888;
    margin-top: 75px;
  }

  .mobileLinks a {
    text-decoration: none;
    font-size: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #252525;
    margin-top: 40px;
    text-align: center;
  }

  .mobileLinks a:hover {
    background-color: #d1ffff rgba(0, 0, 0, 0.5);
    color: #15908e;
  }

  .mobileLinks a.active {
    color: #15908e;
    opacity: 1;
    font-weight: 700;
  }

  h2 {
    font-size: 40px;
  }
}
